/* Global */
body {
    background-image: url(../images/double-bubble.png);
}

.card {
    margin: 50px auto 20% auto;
    box-shadow: 10px 10px 10px 10px #888888;
    width: fit-content;
    background-color: #FFF8E1;
}

/* Header */
header {
    box-shadow: 10px 10px 10px #888888;
    border-bottom: #FFF8E1 3px solid;
}

header a {
    color: white;
    font-size: 25px;
}

header li {
    display: inline;
    padding: 8px 20px 0 20px;
}

header .highlight {
    color: #D9D0B8;
    font-weight: bold;
}

header a:hover{
    color: #3C6A80;
    font-weight: bold;
}

/* Image Content */
.img-thumbnail {
    margin: 0px 15px 0px auto;
    box-shadow: 10px 10px 10px 10px #888888;
}

img:hover {
    box-shadow: 0 0 2px 1px grey;
}

/* Porfolio Page */
.icon {
    margin: 10px;
}

/* Contact Page */
input {
    margin: 10px 0px 10px 0px;
}

form {
    padding: 10px;
    font-weight: bold;
}

button {
    background-color: #D9D0B8;
    color: #2A4A59;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
}

/* Footer*/
nav.footer {
    font-weight: bold;
    color: white;
    box-shadow: 0px 5px 10px 10px #888888;
    text-align: center;
}