*, *::before, *::after {
    box-sizing: border-box;
}

/* font-family: 'Open Sans', sans-serif; */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    /* background-color: rgb(169, 193, 212); */
    background-color: rgb(25, 46, 63);
    padding: .5em 0;
    margin: 0;
    
}

.row {
    display: flex;
}

.nav {
    font-size: 1rem;
}

.nav__list {   
    list-style-type: none;
    justify-content: space-between;
}

.nav__item {
  
}

.nav__item + .nav__item {
    margin-left: 2em;
}

.nav__link {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.hero {
    background-color: rgba(70, 131, 180, 0.128);
    padding: 3em 0;
    margin: 0;
}

.hero__profile {
  



}

.hero__item {
   font-size: 2rem;
}

.hero__item + .hero__item {
    margin-left: 2em;
   
}

img {
    max-width: 100%;


}

.hero__name {
    align-items: center;
}
.hero__img {   
}

.profileImg {
    border-radius: 100px;

}

.intro {
    background-color: rgb(25, 46, 63);
    color: white;
    padding: 1em 0;
    margin: 0;
    
 
}