*, *::before, *::after {
    box-sizing: border-box;
}

/* font-family: 'Open Sans', sans-serif; */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: steelblue;
    padding: .5em;
    margin-bottom: 2em;
    font-size: 1rem;
}

.row {
    display: flex;
}


.nav__list {
    list-style-type: none;
    justify-content: space-between;
}

.nav__item {
    background-color: tomato;
    
    
}

.nav__item + .nav__item {
    margin-left: 30px;
}

.nav__link {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.intro__img {
    width: 25%;
    height: 25%;
}

.profileImg {
    border-radius: 100px;
}